{{! Based on the templates from, modified for this project:
https://github.com/wcandillon/swagger-js-codegen/tree/master/templates }}
{{#tsType}}{{#description}}
/**
 * {{&description}}
 */
{{/description}}{{!
Export type or interface depending on typescript type

Atomic type export
}}{{#isAtomic}}export type{{/isAtomic}}{{!

Object type export
}}{{^isAtomic}}{{!

Export interface if an object
}}{{#isObject}}export interface{{/isObject}}{{!

Export type if not an object
}}{{^isObject}}export type {{/isObject}}{{!

}}{{/isAtomic}}{{!

End export type
}}{{/tsType}}{{!

Add name
}} {{&name}} {{!

}}{{#tsType}}{{!

Add equal sign not an object
}}{{^isObject}}= {{/isObject}}{{!

Add type definition
}}{{> type}}{{/tsType}};
