{{! Based on the templates from, modified for this project:
https://github.com/wcandillon/swagger-js-codegen/tree/master/templates }}
{{#tsType}}
{{! must use different delimiters to avoid ambiguities when delimiters directly follow a literal brace {. }}
{{=<% %>=}}
<%#isRef%><%target%>
<%/isRef%><%!
%><%#isAtomic%><%&tsType%><%/isAtomic%><%!
%><%#isObject%>{<%#properties%><%#description%>
/**
<%&description%>
 */
<%/description%>
'<%name%>': <%>type%><%/properties%>
}<%/isObject%><%!
%><%#isArray%>Array<<%#elementType%><%>type%><%/elementType%>>|<%#elementType%><%>type%><%/elementType%><%/isArray%>
<%={{ }}=%>
{{/tsType}}
